# DOCUMENTACIÓN PRUEBA API

Se ha creado una API básica con una página de bienvenida donde te explica cómo obtener los datos y un endpoin codificado con token para descargar los datos del proyecto en formato json. 

Se procecde a las pruebas de funcionamiento.

In [10]:
import requests
import webbrowser
import pandas as pd
import os, sys

In [2]:
ruta = os.path.dirname(os.getcwd())

In [3]:
api_path = ruta + os.sep + 'scr' + os.sep + 'api' + os.sep + 'server.py'
print(api_path)

/Users/juanbayonfernandez/THE_BRIDGE/Juan_Bayon/EDA/EDA/scr/api/server.py

!python3 "PARA PROBARLO COPIA EL PATH SUPERIOR AQUÍ" -x 8642

In [1]:
# !python3 /Users/juanbayonfernandez/THE_BRIDGE/Juan_Bayon/EDA/EDA/scr/api/server.py -x 8642

{'x': '8642'}
---------STARTING PROCESS---------
/Users/juanbayonfernandez/THE_BRIDGE/Juan_Bayon/EDA/EDA/scr/api/server.py
SERVER_RUNNING True
 * Serving Flask app 'server' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on http://192.168.0.11:8008/ (Press CTRL+C to quit)
 * Restarting with stat
{'x': '8642'}
---------STARTING PROCESS---------
/Users/juanbayonfernandez/THE_BRIDGE/Juan_Bayon/EDA/EDA/scr/api/server.py
SERVER_RUNNING True
 * Debugger is active!
 * Debugger PIN: 308-395-767
^C

In [3]:
webbrowser.open('http://localhost:8008/')

True

In [4]:
download = requests.get('http://localhost:8008/get_data')

In [5]:
download.text

'La autenticación es incorrecta. Vuelve a intentarlo por favor.'

In [6]:
webbrowser.open('http://localhost:8008/get_data?eltoken=Q76903092')

True

In [7]:
pd.read_json('http://localhost:8008/get_data?eltoken=Q76903092').head(2)

,actors,allgenders_0age_avg_vote,allgenders_18age_avg_vote,allgenders_30age_avg_vote,allgenders_45age_avg_vote,budget,country,director_name,females_0age_avg_vote,females_18age_avg_vote,...,votes_3,votes_4,votes_5,votes_6,votes_7,votes_8,votes_9,weighted_average_vote,worlwide_gross_income,year
0,Taraji P. Henson|Billy Brown|Jahi Di'Allo Wins...,6.1,4.9,4.8,5.2,11480000,USA,Babak Najafi,7.9,5.4,...,726,1194,1885,1542,833,444,167,4.9,17837759,2018
1,James Corden|Fayssal Bazzi|Domhnall Gleeson|Si...,6.5,6.6,6.5,6.6,41000000,USA|Australia|UK,Will Gluck,7.2,7.0,...,610,1255,3258,7596,9635,5230,2027,6.6,288038475,2018

## Todas las pruebas han dado correctas.