In [1]:
from sqlalchemy import create_engine
import pymysql

In [2]:
ruta = os.path.dirname(os.getcwd())
sys.path.append(ruta)
import scr.utils.folders_tb as folders

In [3]:
gestor = folders.Gestor_archivos()

In [4]:
eda = gestor.cargar_df(ruta + os.sep + 'data' + os.sep + 'EDA_analisis.csv')

In [5]:
import mysql.connector

try:
    connection = mysql.connector.connect(
    host='54.87.229.224',
    database='xoan311_ds_april_2021_db',
    user='76903092q',
    password='xoan311',
    port=25001
    )

    mySql_create_table = """CREATE TABLE juan_bayon_fernandez( 
                             Id int(11) NOT NULL AUTO_INCREMENT,
                             directore_name VARCHAR(75),
                             genres VARCHAR(100),
                             film VARCHAR(250),
                             tmdb_ratings INT(5),
                             original_language VARCHAR(10),
                             tmdb_vote_count INT(5),
                             year INT(10),
                             country VARCHAR(70),
                             actors VARCHAR(250), 
                             budget INT(30),
                             usa_gross_income INT(30),
                             worlwide_gross_income INT(30),
                             metascore INT(10),
                             total_votes INT(30),
                             imdb_ratings INT(5),
                             allgenders_0age_avg_vote INT(5),
                             allgenders_18age_avg_vote INT(5),
                             allgenders_30age_avg_vote INT(5),
                             allgenders_45age_avg_vote INT(5),
                             males_allages_avg_vote INT(5),
                             males_0age_avg_vote INT(5),
                             males_18age_avg_vote INT(5),
                             males_30age_avg_vote INT(5),
                             males_45age_avg_vote INT(5),
                             females_allages_avg_vote INT(5),
                             females_0age_avg_vote INT(5),
                             females_18age_avg_vote INT(5),
                             females_30age_avg_vote INT(5),
                             females_45age_avg_vote INT(5),
                             us_voters_rating INT(5),
                             non_us_voters_rating INT(5),
                             PRIMARY KEY (Id)) """

    cursor = connection.cursor()
    result = cursor.execute(mySql_create_table)
    print("Laptop Table created successfully ")

except mysql.connector.Error as error:
    print("Failed to create table in MySQL: {}".format(error))
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Failed to create table in MySQL: 2003: Can't connect to MySQL server on '54.87.229.224:25001' (60 Operation timed out)

NameError: name 'connection' is not defined

In [ ]:
engine = create_engine("mysql://{user}:{pw}@54.87.229.244:25001/{db}"
                       .format(user="76903092q",
                               pw="xoan311",
                               db="76903092q_ds_april_2021_db"))

In [ ]:
eda.to_sql('juan_bayon_fernandez', con = engine, if_exists = 'append', chunksize = 1500)

In [ ]:
connection = mysql.connector.connect(
    host='54.87.229.224',
    database='xoan311_ds_april_2021_db',
    user='76903092q',
    password='xoan311',
    port=25001
    )

my_cursor = connection.cursor()
my_cursor.execute("SELECT * from eda")

result = my_cursor.fetchall()

for i in result:
    print(i)

connection.close()