In [1]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeRegressor

from scr.encoder_categoricos import MyLabelEncoder
from scr.comprobaciones_ML import indicativos_regresion
from scr.chequeator import chequeator
from scr.regresion_lineal_non import itera_grados

In [2]:
df = pd.read_csv("diamonds_train.csv", index_col=0)
X_pred = pd.read_csv("diamonds_test.csv", index_col=0)
sample = pd.read_csv("./sample_submission.csv")
df

       carat        cut color clarity  depth  table     x     y     z  price
0       1.21      Ideal     H     VS2   63.0   57.0  6.73  6.70  4.23   6134
1       0.28  Very Good     D    VVS2   64.0   56.0  4.14  4.17  2.66    532
2       0.42    Premium     F     VS1   61.2   58.0  4.86  4.82  2.96   1103
3       0.26      Ideal     H      IF   61.1   57.0  4.16  4.12  2.53    600
4       1.10       Good     G     SI1   63.4   57.0  6.52  6.55  4.14   4997
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
40340   1.55    Premium     H     VS2   61.3   61.0  7.46  7.39  4.55  11708
40341   0.36      Ideal     D     SI1   60.6   56.0  4.58  4.63  2.79    619
40342   0.57  Very Good     I     VS2   62.2   55.0  5.33  5.34  3.32   1267
40343   1.01  Very Good     F      IF   59.6   62.0  6.47  6.56  3.88   9965
40344   0.54      Ideal     E     SI2   60.4   57.0  5.33  5.27  3.20   1340

[40345 rows x 10 columns]

In [3]:
df = df.drop(df[df["x"]==0].index)
df = df.drop(df[df["y"]==0].index)
df = df.drop(df[df["z"]==0].index)

In [4]:
df = df[(df["depth"]<75)&(df["depth"]>45)]
df = df[(df["table"]<80)&(df["table"]>40)]
df = df[(df["x"]<30)]
df = df[(df["y"]<30)]
df = df[(df["z"]<30)&(df["z"]>2)]

In [5]:
object_cols = ['cut', 'color', 'clarity']

In [6]:
label_df = df.copy()
label_encoder = LabelEncoder()
for col in object_cols:
    label_df[col] = label_encoder.fit_transform(label_df[col])

In [3]:
from pycaret.regression import *

In [9]:
exp_reg101 = setup(data = df, target = 'price', session_id=123)
lightgbm = create_model('lightgbm')

In [10]:
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)
                        }

In [11]:
tuned_lightgbm = tune_model(lightgbm, custom_grid = lgbm_params)

In [12]:
evaluate_model(tuned_lightgbm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [13]:
predict_model(tuned_lightgbm)

,carat,depth,table,x,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,price,Label
0,0.40,61.099998,58.0,4.73,2.90,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,666.0,768.625715
1,0.32,61.700001,58.0,4.38,2.71,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,645.0,737.319992
2,0.71,62.599998,57.0,5.64,3.55,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1626.0,1903.888304
3,0.46,62.000000,58.0,4.95,3.08,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1294.0,1362.778787
4,1.55,62.099998,56.0,7.36,4.59,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11869.0,11166.831757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12091,0.32,61.299999,55.0,4.41,2.71,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,846.0,779.584026
12092,0.33,61.099998,59.0,4.45,2.71,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,631.0,611.786234
12093,0.40,62.900002,58.0,4.71,2.95,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1050.0,1036.323912
12094,0.73,62.200001,56.0,5.79,3.58,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4252.0,4643.475899
12095,1.72,63.200001,61.0,7.57,4.80,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13499.0,13313.188414

In [14]:
final_lightgbm = finalize_model(tuned_lightgbm)

In [15]:
predict_model(final_lightgbm)

,carat,depth,table,x,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,price,Label
0,0.40,61.099998,58.0,4.73,2.90,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,666.0,777.179537
1,0.32,61.700001,58.0,4.38,2.71,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,645.0,720.725481
2,0.71,62.599998,57.0,5.64,3.55,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1626.0,1817.120224
3,0.46,62.000000,58.0,4.95,3.08,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1294.0,1370.838697
4,1.55,62.099998,56.0,7.36,4.59,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11869.0,11343.930153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12091,0.32,61.299999,55.0,4.41,2.71,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,846.0,768.791904
12092,0.33,61.099998,59.0,4.45,2.71,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,631.0,611.546545
12093,0.40,62.900002,58.0,4.71,2.95,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1050.0,1029.686216
12094,0.73,62.200001,56.0,5.79,3.58,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4252.0,4667.277902
12095,1.72,63.200001,61.0,7.57,4.80,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13499.0,13650.252480

In [21]:
save_model(final_lightgbm,'Final LightGBM Model 19Jun2021')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='...
                  LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=60,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=120, objective=None, random_state=123,
                                reg_alpha=0.0, reg_lambda=0.0, silent=True,
                                subsample=1.0, subsample_for_bin=200000,
                                subsample_freq=0)]],
          verbose=False),
 'Final LightGBM Model 19Jun2021.pkl')

In [39]:
saved_final_lightgbm = load_model('Final LightGBM Model 19Jun2021')

Transformation Pipeline and Model Successfully Loaded

In [40]:
evaluate_model(saved_final_lightgbm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [10]:
unseen_predictions = predict_model(saved_final_lightgbm, data=X_pred)
unseen_predictions.head()

   carat        cut color clarity  depth  table     x     y     z        Label
0   0.30      Ideal     H     SI2   60.0   56.0  4.41  4.43  2.65   474.506973
1   0.34      Ideal     D      IF   62.1   57.0  4.52  4.46  2.79  1778.493492
2   1.57  Very Good     I     VS2   60.3   58.0  7.58  7.55  4.56  9580.096575
3   0.31      Ideal     H     VS2   61.8   57.0  4.32  4.36  2.68   578.936847
4   1.51       Good     I    VVS1   64.0   60.0  7.26  7.21  4.63  9739.261787

In [22]:
sample

          id  price
0          0  12132
1          1  11786
2          2  14684
3          3  15425
4          4   6724
...      ...    ...
13444  13444   8197
13445  13445  10757
13446  13446   8084
13447  13447   1948
13448  13448  18298

[13449 rows x 2 columns]

In [11]:
respuesta2 = unseen_predictions['Label'].values

In [12]:
respuesta2

array([  474.506973  ,  1778.49349206,  9580.09657537, ...,
       14626.55779381, 10531.47553068,   726.91700216])

In [15]:
submission2

          id         price
0          0    474.506973
1          1   1778.493492
2          2   9580.096575
3          3    578.936847
4          4   9739.261787
...      ...           ...
13444  13444   4587.898948
13445  13445    465.256228
13446  13446  14626.557794
13447  13447  10531.475531
13448  13448    726.917002

[13449 rows x 2 columns]

In [16]:
chequeator(submission2, sample)

You're ready to submit!

In [17]:
submission2.to_csv('resultado_2.csv', index=False)

In [14]:
saved_final_rf = load_model('Final RF Model 19Jun2021')

Transformation Pipeline and Model Successfully Loaded

In [28]:
rf_tuned = tune_model(rf)

In [15]:
evaluate_model(saved_final_rf)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [33]:
predict_model(rf_tuned)

,carat,depth,table,x,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,...,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2,price,Label
0,0.40,61.099998,58.0,4.73,2.90,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,666.0,770.316799
1,0.32,61.700001,58.0,4.38,2.71,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,645.0,711.367103
2,0.71,62.599998,57.0,5.64,3.55,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1626.0,2205.959955
3,0.46,62.000000,58.0,4.95,3.08,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1294.0,1277.452454
4,1.55,62.099998,56.0,7.36,4.59,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,11869.0,9906.029950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12091,0.32,61.299999,55.0,4.41,2.71,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,846.0,710.146476
12092,0.33,61.099998,59.0,4.45,2.71,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,631.0,612.720883
12093,0.40,62.900002,58.0,4.71,2.95,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1050.0,991.849024
12094,0.73,62.200001,56.0,5.79,3.58,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4252.0,3369.547055
12095,1.72,63.200001,61.0,7.57,4.80,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,13499.0,12840.558825

In [34]:
final_rf = finalize_model(rf_tuned)

In [37]:
save_model(final_rf,'Final RF Model 19Jun2021')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=[], ml_usecase='regression',
                                       numerical_features=[], target='price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric_strategy='...
                  RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                        criterion='mse', max_depth=9,
                                        max_features=1.0, max_leaf_nodes=None,
                                        max_samples=None,
                                        min_impurity_decrease=0.1,
                                        min_impurity_split=None,
                                        min_samples_leaf=4, min_samples_split=7,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=-1,
                                        oob_score=False, random_state=123,
                                        verbose=0, warm_start=False)]],
          verbose=False),
 'Final RF Model 19Jun2021.pkl')

In [4]:
data_modified = pd.read_csv('./data_modified.csv')
data_pred_modified = pd.read_csv('./data_pred_modified.csv')

In [19]:
exp_reg104 = setup(data = data_modified, target = 'price', session_id=7632, numeric_features = ['cut', 'color', 'clarity'],)
lightgbm2 = create_model('lightgbm')

In [20]:
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)
                        }

In [22]:
tuned_lightgbm2 = tune_model(lightgbm2, custom_grid = lgbm_params)

In [23]:
evaluate_model(tuned_lightgbm)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [25]:
predict_model(tuned_lightgbm2)

,carat,depth,table,x,y,z,shape_ratio,cut_0,cut_1,cut_2,...,clarity_0,clarity_1,clarity_2,clarity_3,clarity_4,clarity_5,clarity_6,clarity_7,price,Label
0,0.34,62.500000,57.000000,4.49,4.47,2.80,0.912000,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,530.0,522.877057
1,0.71,58.099998,58.000000,5.92,5.88,3.43,0.998279,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3347.0,3554.680419
2,0.50,61.599998,56.000000,5.08,5.11,3.14,0.909091,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2052.0,2083.461957
3,0.38,58.900002,58.000000,4.69,4.81,2.80,0.984720,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1064.0,1035.359528
4,0.34,62.700001,55.000000,4.49,4.48,2.81,0.877193,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,765.0,723.979566
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12099,1.22,62.200001,56.000000,6.84,6.89,4.27,0.900322,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,6541.0,6612.299797
12100,0.92,58.700001,61.000000,6.34,6.43,3.75,1.039182,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2880.0,3121.794546
12101,0.90,61.900002,55.000000,6.21,6.19,3.84,0.888530,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4101.0,3679.027892
12102,0.56,61.799999,54.099998,5.31,5.34,3.29,0.875405,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1576.0,1517.285227
12103,0.27,61.700001,57.000000,4.15,4.18,2.57,0.923825,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,577.0,550.555887

In [27]:
final_lightgbm2 = finalize_model(tuned_lightgbm2)

In [28]:
save_model(final_lightgbm2,'Final lightgbm2 Model 19Jun2021')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['Unnamed: 0'],
                                       ml_usecase='regression',
                                       numerical_features=[], target='price',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value_numerical=None,
                                 numeric...
                  LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=90,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=110, objective=None,
                                random_state=7632, reg_alpha=0.0, reg_lambda=0.0,
                                silent=True, subsample=1.0,
                                subsample_for_bin=200000, subsample_freq=0)]],
          verbose=False),
 'Final lightgbm2 Model 19Jun2021.pkl')

In [32]:
unseen_predictions = predict_model(final_lightgbm2, data=data_pred_modified)
unseen_predictions.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,shape_ratio,Label
0,0,0.30,4,2,1,60.0,56.0,4.41,4.43,2.65,0.933333,457.673413
1,1,0.34,4,6,7,62.1,57.0,4.52,4.46,2.79,0.917874,1803.326939
2,2,1.57,2,1,3,60.3,58.0,7.58,7.55,4.56,0.961857,9227.285520
3,3,0.31,4,2,3,61.8,57.0,4.32,4.36,2.68,0.922330,570.923453
4,4,1.51,1,1,6,64.0,60.0,7.26,7.21,4.63,0.937500,10021.526522

In [51]:
respuesta3 = unseen_predictions['Label'].values
submission3 = pd.DataFrame({"id": range(len(respuesta3)), "price": respuesta3})
chequeator(submission3, sample)
submission3.to_csv('resultado_3.csv', index=False)

You're ready to submit!

In [45]:
exp_reg104 = setup(data = data_modified, target = 'price', session_id=7632, numeric_features = ['cut', 'color', 'clarity'],)
lightgbm4 = create_model('lightgbm')

In [46]:
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)
                        }
tuned_lightgbm4 = tune_model(lightgbm2, custom_grid = lgbm_params)

In [47]:
evaluate_model(tuned_lightgbm4)
predict_model(tuned_lightgbm4)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

,carat,cut,color,clarity,depth,table,x,y,z,shape_ratio,price,Label
0,0.34,4.0,6.0,0.0,62.500000,57.000000,4.49,4.47,2.80,0.912000,530.0,584.583655
1,0.71,3.0,4.0,6.0,58.099998,58.000000,5.92,5.88,3.43,0.998279,3347.0,3599.633504
2,0.50,4.0,4.0,5.0,61.599998,56.000000,5.08,5.11,3.14,0.909091,2052.0,2107.319204
3,0.38,4.0,2.0,7.0,58.900002,58.000000,4.69,4.81,2.80,0.984720,1064.0,1059.139953
4,0.34,4.0,3.0,3.0,62.700001,55.000000,4.49,4.48,2.81,0.877193,765.0,734.309044
...,...,...,...,...,...,...,...,...,...,...,...,...
12099,1.22,4.0,2.0,2.0,62.200001,56.000000,6.84,6.89,4.27,0.900322,6541.0,6815.644890
12100,0.92,2.0,0.0,1.0,58.700001,61.000000,6.34,6.43,3.75,1.039182,2880.0,2992.536801
12101,0.90,4.0,2.0,1.0,61.900002,55.000000,6.21,6.19,3.84,0.888530,4101.0,3593.827268
12102,0.56,2.0,2.0,3.0,61.799999,54.099998,5.31,5.34,3.29,0.875405,1576.0,1438.463764
12103,0.27,4.0,4.0,4.0,61.700001,57.000000,4.15,4.18,2.57,0.923825,577.0,563.973061

In [48]:
final_lightgbm4 = finalize_model(tuned_lightgbm4)

In [49]:
save_model(final_lightgbm4,'Final lightgbm4 Model 19Jun2021')

Transformation Pipeline and Model Succesfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=True, features_todrop=[],
                                       id_columns=['Unnamed: 0'],
                                       ml_usecase='regression',
                                       numerical_features=['cut', 'color',
                                                           'clarity'],
                                       target='price', time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_value...
                  LGBMRegressor(boosting_type='gbdt', class_weight=None,
                                colsample_bytree=1.0, importance_type='split',
                                learning_rate=0.1, max_depth=90,
                                min_child_samples=20, min_child_weight=0.001,
                                min_split_gain=0.0, n_estimators=100, n_jobs=-1,
                                num_leaves=110, objective=None,
                                random_state=7632, reg_alpha=0.0, reg_lambda=0.0,
                                silent=True, subsample=1.0,
                                subsample_for_bin=200000, subsample_freq=0)]],
          verbose=False),
 'Final lightgbm4 Model 19Jun2021.pkl')

In [52]:
unseen_predictions4 = predict_model(final_lightgbm4, data=data_pred_modified)
respuesta4 = unseen_predictions['Label'].values
submission4 = pd.DataFrame({"id": range(len(respuesta4)), "price": respuesta4})
chequeator(submission4, sample)
submission4.to_csv('resultado_4.csv', index=False)

You're ready to submit!

In [73]:
data_modified2 = data_modified.copy()

In [74]:
data_modified2['cut'] = data_modified2['cut'] ** 2

In [59]:
exp_reg105 = setup(data = data_modified, target = 'price', session_id=72048, numeric_features = ['cut', 'color', 'clarity'],)
lightgbm5 = create_model('lightgbm')
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)}
tuned_lightgbm5 = tune_model(lightgbm5, custom_grid = lgbm_params)
evaluate_model(tuned_lightgbm5)
predict_model(tuned_lightgbm5)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

,carat,cut,color,clarity,depth,table,x,y,z,shape_ratio,price,Label
0,1.21,3.0,4.0,1.0,59.000000,60.000000,6.99,6.94,4.11,1.016949,6092.0,5363.525891
1,1.33,4.0,2.0,4.0,59.299999,57.000000,7.22,7.18,4.27,0.961214,8714.0,8013.095774
2,1.42,2.0,4.0,6.0,58.400002,62.000000,7.35,7.38,4.30,1.061644,15665.0,13754.733765
3,0.38,4.0,2.0,5.0,62.299999,53.299999,4.65,4.69,2.91,0.855538,832.0,866.684766
4,1.01,1.0,3.0,1.0,64.000000,59.000000,6.34,6.31,4.05,0.921875,3461.0,3841.628653
...,...,...,...,...,...,...,...,...,...,...,...,...
12099,1.13,4.0,4.0,2.0,59.599998,57.000000,6.83,6.79,4.06,0.956376,6391.0,5883.224387
12100,0.76,3.0,5.0,3.0,60.299999,60.000000,5.97,5.94,3.59,0.995025,3107.0,3145.318183
12101,0.54,2.0,5.0,2.0,60.200001,58.000000,5.23,5.37,3.19,0.963455,1358.0,1417.771684
12102,0.53,3.0,5.0,1.0,60.500000,60.000000,5.21,5.24,3.16,0.991736,1141.0,1216.062583
12103,1.86,3.0,3.0,1.0,62.799999,58.000000,7.83,7.75,4.89,0.923567,13420.0,11843.628333

In [62]:
final_lightgbm5 = finalize_model(tuned_lightgbm5)
save_model(final_lightgbm5,'Final lightgbm5 Model 19Jun2021')
unseen_predictions5 = predict_model(final_lightgbm5, data=data_pred_modified)
respuesta5 = unseen_predictions5['Label'].values
submission5 = pd.DataFrame({"id": range(len(respuesta5)), "price": respuesta5})
chequeator(submission5, sample)
submission5.to_csv('resultado_5.csv', index=False)

Transformation Pipeline and Model Succesfully Saved
You're ready to submit!

In [ ]:
data_modified2 = data_modified.copy()
data_modified2['cut'] = data_modified2['cut'] ** 2

In [75]:
exp_reg105 = setup(data = data_modified2, target = 'price', session_id=72048, numeric_features = ['cut', 'color', 'clarity'])
lightgbm6 = create_model('lightgbm')
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)}
tuned_lightgbm6 = tune_model(lightgbm6, custom_grid = lgbm_params)
evaluate_model(tuned_lightgbm6)
predict_model(tuned_lightgbm6)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

,carat,cut,color,clarity,depth,table,x,y,z,shape_ratio,price,Label
0,1.21,9.0,4.0,1.0,59.000000,60.000000,6.99,6.94,4.11,1.016949,6092.0,5363.525891
1,1.33,16.0,2.0,4.0,59.299999,57.000000,7.22,7.18,4.27,0.961214,8714.0,8013.095774
2,1.42,4.0,4.0,6.0,58.400002,62.000000,7.35,7.38,4.30,1.061644,15665.0,13754.733765
3,0.38,16.0,2.0,5.0,62.299999,53.299999,4.65,4.69,2.91,0.855538,832.0,866.684766
4,1.01,1.0,3.0,1.0,64.000000,59.000000,6.34,6.31,4.05,0.921875,3461.0,3841.628653
...,...,...,...,...,...,...,...,...,...,...,...,...
12099,1.13,16.0,4.0,2.0,59.599998,57.000000,6.83,6.79,4.06,0.956376,6391.0,5883.224387
12100,0.76,9.0,5.0,3.0,60.299999,60.000000,5.97,5.94,3.59,0.995025,3107.0,3145.318183
12101,0.54,4.0,5.0,2.0,60.200001,58.000000,5.23,5.37,3.19,0.963455,1358.0,1417.771684
12102,0.53,9.0,5.0,1.0,60.500000,60.000000,5.21,5.24,3.16,0.991736,1141.0,1216.062583
12103,1.86,9.0,3.0,1.0,62.799999,58.000000,7.83,7.75,4.89,0.923567,13420.0,11843.628333

In [93]:
data_modified2 = data_modified.copy()
# data_modified2['cut'] = data_modified2['cut'] ** 2
scaler = StandardScaler()
scaler.fit(data_modified2['cut'].values.reshape(-1, 1))
data_modified2['cut'] = scaler.transform(data_modified2['cut'].values.reshape(-1, 1))

In [95]:
df = data_modified.copy()

In [15]:
df = data_modified.copy()
df = df.drop(df[df["x"]==0].index)
df = df.drop(df[df["y"]==0].index)
df = df.drop(df[df["z"]==0].index)
df = df[(df["depth"]<75)&(df["depth"]>45)]
df = df[(df["table"]<80)&(df["table"]>40)]
df = df[(df["x"]<30)]
df = df[(df["y"]<30)]
df = df[(df["z"]<30)&(df["z"]>2)]

In [16]:
exp_reg106 = setup(data = df, target = 'price', session_id=72048, numeric_features = ['cut', 'color', 'clarity'])
lightgbm6 = create_model('lightgbm')
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)}
tuned_lightgbm6 = tune_model(lightgbm6, custom_grid = lgbm_params)
evaluate_model(tuned_lightgbm6)
predict_model(tuned_lightgbm6)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

,Unnamed 0,carat,cut,color,clarity,depth,table,y,z,shape_ratio,price,Label
0,32910.0,0.73,4.0,1.0,3.0,61.599998,54.0,5.84,3.59,0.876623,2327.0,2425.379003
1,5708.0,2.01,1.0,1.0,3.0,63.599998,57.0,7.95,5.03,0.896226,16003.0,15382.172542
2,38936.0,0.31,4.0,4.0,3.0,61.299999,57.0,4.34,2.65,0.929853,625.0,727.472938
3,25088.0,0.61,2.0,3.0,3.0,62.000000,57.0,5.47,3.38,0.919355,1861.0,1830.478399
4,32406.0,1.18,1.0,6.0,1.0,61.700001,63.0,6.72,4.13,1.021070,5315.0,5208.796097
...,...,...,...,...,...,...,...,...,...,...,...,...
12091,26670.0,0.90,3.0,1.0,4.0,61.200001,61.0,6.15,3.78,0.996732,3484.0,3463.920880
12092,10173.0,2.14,2.0,0.0,2.0,62.299999,59.0,8.26,5.14,0.947030,14556.0,14171.940941
12093,37734.0,0.72,4.0,2.0,4.0,62.299999,55.0,5.74,3.57,0.882825,2949.0,2862.178284
12094,3371.0,0.93,1.0,3.0,2.0,63.799999,58.0,6.09,3.90,0.909091,4375.0,3760.584207
12095,1573.0,0.41,4.0,0.0,4.0,62.200001,55.0,4.79,2.97,0.884244,604.0,706.310734

In [100]:
final_lightgbm6 = finalize_model(tuned_lightgbm6)
save_model(final_lightgbm6,'Final lightgbm6 Model 19Jun2021')
unseen_predictions6 = predict_model(final_lightgbm6, data=data_pred_modified)
respuesta6 = unseen_predictions6['Label'].values
submission6 = pd.DataFrame({"id": range(len(respuesta6)), "price": respuesta6})
chequeator(submission6, sample)
submission6.to_csv('resultado_6.csv', index=False)

Transformation Pipeline and Model Succesfully Saved
You're ready to submit!

In [104]:
exp_reg107 = setup(data = df, target = 'price', session_id=65, numeric_features = ['cut', 'color', 'clarity'])
lightgbm7 = create_model('lightgbm')
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)}
tuned_lightgbm7 = tune_model(lightgbm7, custom_grid = lgbm_params)
evaluate_model(tuned_lightgbm7)
predict_model(tuned_lightgbm7)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

,Unnamed 0,carat,cut,color,clarity,depth,table,y,z,shape_ratio,price,Label
0,23113.0,1.74,4.0,5.0,1.0,62.299999,57.0,7.70,4.83,0.914928,10085.0,12144.808296
1,14246.0,1.18,3.0,5.0,1.0,62.500000,60.0,6.70,4.20,0.960000,5181.0,5069.231569
2,20539.0,0.53,4.0,5.0,3.0,61.000000,57.0,5.23,3.20,0.934426,1727.0,1741.572599
3,22851.0,0.82,4.0,3.0,4.0,61.500000,56.0,6.05,3.71,0.910569,3652.0,3807.412740
4,3922.0,0.41,0.0,3.0,5.0,64.699997,56.0,4.72,3.04,0.865533,833.0,1025.744165
...,...,...,...,...,...,...,...,...,...,...,...,...
12091,906.0,1.00,1.0,0.0,6.0,63.500000,59.0,6.34,4.01,0.929134,4633.0,4475.986591
12092,12475.0,0.56,4.0,2.0,2.0,61.900002,58.0,5.30,3.27,0.936995,1343.0,1358.353947
12093,40081.0,0.55,1.0,0.0,3.0,64.099998,54.0,5.21,3.33,0.842434,1034.0,1144.096684
12094,1024.0,2.10,0.0,3.0,0.0,67.400002,59.0,7.76,5.24,0.875371,6597.0,6834.566538
12095,28412.0,0.52,4.0,1.0,2.0,61.799999,54.0,5.19,3.20,0.873786,1094.0,1073.947064

In [105]:
final_lightgbm7 = finalize_model(tuned_lightgbm7)
save_model(final_lightgbm7,'Final lightgbm7 Model 19Jun2021')
unseen_predictions7 = predict_model(final_lightgbm7, data=data_pred_modified)
respuesta7 = unseen_predictions7['Label'].values
submission7 = pd.DataFrame({"id": range(len(respuesta7)), "price": respuesta7})
chequeator(submission7, sample)
submission7.to_csv('resultado_7.csv', index=False)

Transformation Pipeline and Model Succesfully Saved
You're ready to submit!

In [106]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price,shape_ratio
0,0,1.21,4,2,3,63.0,57.0,6.73,6.70,4.23,6134,0.904762
1,1,0.28,2,6,5,64.0,56.0,4.14,4.17,2.66,532,0.875000
2,2,0.42,3,4,4,61.2,58.0,4.86,4.82,2.96,1103,0.947712
3,3,0.26,4,2,7,61.1,57.0,4.16,4.12,2.53,600,0.932897
4,4,1.10,1,3,2,63.4,57.0,6.52,6.55,4.14,4997,0.899054
...,...,...,...,...,...,...,...,...,...,...,...,...
40340,40340,1.55,3,2,3,61.3,61.0,7.46,7.39,4.55,11708,0.995106
40341,40341,0.36,4,6,2,60.6,56.0,4.58,4.63,2.79,619,0.924092
40342,40342,0.57,2,1,3,62.2,55.0,5.33,5.34,3.32,1267,0.884244
40343,40343,1.01,2,4,7,59.6,62.0,6.47,6.56,3.88,9965,1.040268
40344,40344,0.54,4,5,1,60.4,57.0,5.33,5.27,3.20,1340,0.943709

In [20]:
df = data_modified.copy()
df = df.drop(df[df["x"]==0].index)
df = df.drop(df[df["y"]==0].index)
df = df.drop(df[df["z"]==0].index)
df = df[(df["depth"]<75)&(df["depth"]>45)]
df = df[(df["table"]<80)&(df["table"]>40)]
df = df[(df["x"]<30)]
df = df[(df["y"]<30)]
df = df[(df["z"]<30)&(df["z"]>2)]
df['peso_esp'] = df['carat'] / (df['x'] * df['y'] * df['z'])

In [10]:
exp_reg108 = setup(data = df, target = 'price', session_id=72048, numeric_features = ['cut', 'color', 'clarity'])
lightgbm8 = create_model('lightgbm')
lgbm_params = {'num_leaves': np.arange(10,200,10),
                        'max_depth': [int(x) for x in np.linspace(10, 110, num = 11)],
                        'learning_rate': np.arange(0.1,1,0.1)}
tuned_lightgbm8 = tune_model(lightgbm8, custom_grid = lgbm_params)
evaluate_model(tuned_lightgbm8)
predict_model(tuned_lightgbm8)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

,Unnamed 0,carat,cut,color,clarity,depth,table,y,z,shape_ratio,peso_esp,price,Label
0,32910.0,0.73,4.0,1.0,3.0,61.599998,54.0,5.84,3.59,0.876623,0.005993,2327.0,2408.171167
1,5708.0,2.01,1.0,1.0,3.0,63.599998,57.0,7.95,5.03,0.896226,0.006387,16003.0,15332.489228
2,38936.0,0.31,4.0,4.0,3.0,61.299999,57.0,4.34,2.65,0.929853,0.006268,625.0,722.589863
3,25088.0,0.61,2.0,3.0,3.0,62.000000,57.0,5.47,3.38,0.919355,0.006065,1861.0,1823.777586
4,32406.0,1.18,1.0,6.0,1.0,61.700001,63.0,6.72,4.13,1.021070,0.006374,5315.0,5321.294511
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12091,26670.0,0.90,3.0,1.0,4.0,61.200001,61.0,6.15,3.78,0.996732,0.006244,3484.0,3466.475003
12092,10173.0,2.14,2.0,0.0,2.0,62.299999,59.0,8.26,5.14,0.947030,0.006117,14556.0,14373.858819
12093,37734.0,0.72,4.0,2.0,4.0,62.299999,55.0,5.74,3.57,0.882825,0.006143,2949.0,2854.792441
12094,3371.0,0.93,1.0,3.0,2.0,63.799999,58.0,6.09,3.90,0.909091,0.006377,4375.0,3846.929837
12095,1573.0,0.41,4.0,0.0,4.0,62.200001,55.0,4.79,2.97,0.884244,0.006055,604.0,689.963408

In [14]:
final_lightgbm8 = finalize_model(tuned_lightgbm8)
save_model(final_lightgbm8,'Final lightgbm8 Model 19Jun2021')
unseen_predictions8 = predict_model(final_lightgbm8, data=df_pred)
respuesta8 = unseen_predictions8['Label'].values
submission8 = pd.DataFrame({"id": range(len(respuesta8)), "price": respuesta8})
chequeator(submission8, sample)
submission8.to_csv('resultado_8.csv', index=False)

Transformation Pipeline and Model Succesfully Saved
You're ready to submit!